/*全清*/
*{margin:0; padding:0; list-style:none; font-family:'微软雅黑'; font-size:15px; color:#555;}
html,body{width:100%; height:auto;}
body{background:#f7f7f7;}
img {max-width: 100%;height: auto;width:auto\9;-ms-interpolation-mode:bicubic;}
/*pic*/
.banner{width:100%; height:auto; text-align: center;}
/*文字1*/
.pc_txt01{width:100%; margin:0 auto;}
.pc_txt01 h3{font-size:20px; color:#444; font-weight:normal; text-align: center;}
.pc_txt01 p{width:auto; height:auto;line-height:20px; margin-bottom:10px; padding:0 15px; text-indent:2em;}
.m_bottom{width:100%; height:auto; border-bottom:1px #c7c7c7 solid; margin:0 0 10px 0;}






























